# Contoh config multi-site (tunnel web-pi sudah ada)
# Path: /home/fajar/.cloudflared/config.yml

tunnel: 6bed7d36-e77d-4651-94ed-24efde5485b1
credentials-file: /home/fajar/.cloudflared/6bed7d36-e77d-4651-94ed-24efde5485b1.json

ingress:
  - hostname: fid-maintenance.online
    service: http://127.0.0.1:3001

  - hostname: sejahterarayagrup.com
    service: http://127.0.0.1:3000

  - hostname: www.sejahterarayagrup.com
    service: http://127.0.0.1:3000

  - service: http_status:404
